<!DOCTYPE html>
<html lang="pt-br">
<body>

<div data-th-fragment="alert-component">
    <div data-th-if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span data-th-text="${success}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div data-th-if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span data-th-text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

</body>
</html>